<h1>Events > New</h1>

<% if params.errors.any? %>
  <div class="errors">
    <h3>There was a problem with your event</h3>
    <ul>
      <% params.errors.each do |error| %>
        <li><%= error.attribute_name %> => <%= error.validation %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=
  form_for :event, routes.events_path do
    div do
      label 'Name'
      text_field :name
    end

    div do
      label 'Description'
      text_area :description
    end

    submit 'Create!'
  end
%>
