<% if errors.any? %>
  <div class="errors">
    <h3>There was a problem with your data</h3>
    <ul>
      <% errors.each do |error| %>
        <li><%= error.attribute_name %> => <%= error.validation %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=
  form_for :user, routes.settings_profile_path, method: :patch do
    div do
      label 'Name'
      text_field :name, value: user.name
    end

    div do
      label 'E-mail'
      text_field :email, value: user.email
    end

    div do
      label 'Password'
      password_field :password
    end

    div do
      label 'Password confirmation'
      password_field :password_confirmation
    end

    div do
      label 'Current password'
      password_field :current_password
    end

    submit 'Update profile!'
  end
%>
