<ul class='social-networks'>
  <li>
    <%= link_to 'sign in using facebook', '/auth/facebook', class: 'facebook' %>
  </li>
  <li>
    <%= link_to 'sign in using github', '/auth/github', class: 'github' %>
  </li>
</ul>
