<ul class='social-networks'>
  <li>
    <%= link_to 'sign in using facebook', '/auth/facebook', class: 'social-network-button -facebook' %>
  </li>
  <li>
    <%= link_to 'sign in using github', '/auth/github', class: 'social-network-button -github' %>
  </li>
</ul>
