<ul>
  <li>
    <%= link_to 'entrar com facebook', '/auth/facebook' %>
  </li>
  <li>
    entrar com github
  </li>
  <li>
    entrar com twitter
  </li>
  <li>
    entrar com google
  </li>
</ul>

<p>or</p>

<%= render partial: 'form' %>

<p>or</p>

<%= render partial: 'sign_up/form' %>
