<div class='sign-in'>
  <%= render partial: 'sign_in/social_networks' %>

  <p>or</p>

  <%= render partial: 'sign_in/form' %>
</div>

<div class='sign-up'>
  <%= render partial: 'sign_up/form' %>
</div>
