// flash
$base-spacing: 1.5em !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

// social networks
// based on: https://gist.github.com/koycarraway/5847833
$github-color: hsla(0, 0%, 18%, 1);
$facebook-color: hsla(222, 47%, 40%, 1);
