.come-on.new {
  .container {
    @include outer-container;

    .sign-in, .sign-up {
      @include span-columns(4);
      @include shift(1);
    }

    .social-networks a {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;

      &.facebook {
        @include my-button(hsla(222, 47%, 40%, 1));
      }

      &.github {
        @include my-button(hsla(0, 0%, 18%, 1));
      }
    }
  }
}
